body {
    margin : 0;
    background-color: black;


}

.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 220px;
    background-color: aliceblue;
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 100%;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px ;
    padding-bottom: 20px;
}


.bestPlayers {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: darkblue;
    border-radius: 10px;
    color:black;
    margin-left: 60%;
    margin-top: -50%;
}

.inputLogin {
    width: 90%;
    height: 30px;
    border-radius: 10px;
    padding-left: 20px;

}

.buttonLogin {
    width: 95%;
    height: 30px;
    border-radius: 10px;
    background-color:green;
    color: aliceblue;
    align-self: center;
}

.buttonLogin:hover{
    background-color:chartreuse;
    color: black
}

.divPlayer {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    color: white;
    padding-left: 15px;
    font-size: 20px;
}

h2 {
    color: white;
    text-align: center;
}

.spanPlayer {
    margin-left: 8px;
    margin-right: 8px;
}

.spanScore {
    float: right;
    margin-right: 15%;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.easy {
    height: 30px;
    border-radius: 10px;
    flex: 1;
    margin: 10px;
    background-color: darkblue;
    color: aliceblue;
}

.medium {
    flex: 1;
    height: 30px;
    border-radius: 10px;
    background-color: darkcyan;
    color: aliceblue;
}

.hard {
    flex: 1;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    background-color: red;
    color: aliceblue;
}

.easy:hover{
    background-color: lightskyblue;
    cursor: pointer;
}

.medium:hover{
    background-color:cyan;
    cursor: pointer;
}

.hard:hover{
    background-color:salmon;
    cursor: pointer;
}

.popup {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: auto;
}

.popup div {
    font-family: 'Press Start 2P', cursive;
    width: auto;
    padding: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.popup button {
    font-family: 'Press Start 2P', cursive;
    width: auto;
    background-color: black;
    border-radius: 10px;
    margin-left: 0.5em;
    color: white;
    height: 2em;
    border-color: blue;
    border-style: solid;
}

.levelOptions {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.level1 {
    background-color: blueviolet;
    height: 35px;
    border-radius: 10px;
    flex: 1;
    margin: 10px;
    color: aliceblue;
    display: inline-block;
}

.level2 {
    background-color: blueviolet;
    height: 35px;
    border-radius: 10px;
    flex: 1;
    margin: 10px;
    color: aliceblue;
    display: inline-block;
}

.level1:hover{
    background-color: violet;
}
.level2:hover{
    background-color: violet;
}